<main>
  <div class="banner-profile">
  </div>
  <div class="container icons">
    <div>
      <% if @user.image_url %>
        <%= image_tag @user.image_url, class:"profile-icon" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/teepublic/image/private/s--gZejDXvz--/t_Resized%20Artwork/c_fit,g_north_west,h_1054,w_1054/co_ffffff,e_outline:53/co_ffffff,e_outline:inner_fill:53/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1545456398/production/designs/3597427_1.jpg", class:"profile-icon" %>
      <% end %>
    </div>
    <div id="user-description">
      <%= @user.name %>
    </div>
      </%>
      <div class="bio">
        <%= simple_form_for @user, html: { class: "form-bio" }, url: user_path(current_user.id), method: :PATCH do |f| %>
              <%= f.input :description, label: false, placeholder: "What about you ?", class:"text-black" %>
              <div class="btn-bio" >
            <%= f.submit "Submit", class: "btn button2"  %>
            </div>
        <% end %>

      </div>
<h4>desc : <%= @user.description %></h4>
    </div>
  </div>

  <div class="wrapper2">
    <div id="wrapper">
        <div class="line"></div>
        <div class="textbox">
          <div class="text">MY POKEMONS
          <%= link_to raw("<i class='fas fa-plus'></i>"), new_user_pokemon_path(current_user.id), class:"btn btn-danger btn-circle btn-lg" %>
          </div>
        </div>
    </div>
       <div class="poke-cards">
        <% @user.owned_pokemons.each do |pokemon| %>
        <% @pokemon = pokemon %>
        <%= render '/shared/poke-card', object: @pokemon %>
        <% end %>
      </div>
  </div>
  <div class="wrapper2">
    <div id="wrapper">
        <div class="line"></div>
        <div class="textbox">
          <div class="text">MY TRANSFERS
          <%= link_to raw("<i class='fas fa-plus'></i>"), search_pokemons_path, class:"btn btn-danger btn-circle btn-lg" %>
          </div>
        </div>
      <div class="poke-cards">
        <% @user.transfers.each do |transfer| %>
        <% @pokemon = Pokemon.find(transfer.pokemon_id) %>
        <%= render '/shared/poke-card', object: @pokemon %>
        <% end %>
        </div>
  </div>
</main>


